html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

body {
    font-family: Tahoma, sans-serif;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: opacity 2s ease;
}

body.loaded {
    opacity: 1;
}

header {
    background-image: url('Images/Background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px 0;
    text-align: center;
    font-family: Palatino Linotype, serif;
    position: relative;
    z-index: 999;
}

header h1 {
    margin: 0;
    font-size: 70px;
    padding: 10px;
    text-shadow: 5px 5px 5px #000;
    color: orange;
    font-family: Palatino Linotype, serif;
}

nav {
    background: linear-gradient(to bottom, #333, #111);
    width: 100%;
    padding: 20px 0;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 998;
    box-shadow: 0 4px 20px rgba(215, 215, 215, 0.3);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
    position: relative;
    font-family: Palatino Linotype, serif;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 20px;
    transition: background-color 0.5s;
    border-radius: 3px;
}

nav ul li a:hover {
    background-color: orange;
    color: #111;
    transition: background-color 0.5s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #595959;
    min-width: 170px;
    z-index: 1;
    margin-top: 10px;
    padding: 5px;
    border-radius: 3px;
    overflow: hidden;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.5s ease;
}

.dropdown-content a:hover {
    background-color: orange;
}

.nav-item:hover .dropdown-content {
    display: block;
}

section {
    padding: 20px 0;
}

section h2 {
    color: orange;
    font-size: 2rem;
    margin-bottom: 40px;
    text-align: center;
    padding: 20px;
}

h2, h3, h5, h6 {
    font-family: Palatino Linotype, serif;
    text-shadow: 1px 1px 5px #000;
    color: orange;
}

h4 {
    padding: 10px;
    text-align: center;
}

p {
    transition: background-color 0.5s;
    padding: 20px;
    line-height: 1.5;
    text-shadow: 1px 1px 2px #000;
}

#introduction p:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.highlight {
    color: orange;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image {
    height: 450px;
    width: 300px;
    max-width: 50%;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.about-text {
    max-width: 50%;
    padding: 20px;
}

.about-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#life {
    padding: 40px 0;
}

.life-text h3 {
    font-family: Palatino Linotype, serif;
    text-shadow: 1px 1px 5px #000;
    color: orange;
    font-size: 25px;
    text-align: center;
}

.life-text {
    margin-bottom: 40px;
}

.life-text p {
    font-size: 1rem;
    line-height: 1.6;
}

.gallery-wrapper {
    width: 100%;
    overflow-x: auto;
    margin-bottom: 20px;
    scrollbar-width: thin;
    scrollbar-track-color: yellow;
}

.work-gallery {
    display: inline-flex;
    gap: 30px;
    overflow: hidden;
    padding: 20px;
}

.work-item {
    position: relative;
    width: 180px;
    height: 270px;
    overflow: hidden;
    padding: 12px;
    transition: transform 0.8s ease;
}

.work-item img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work-item a {
    color: #FFD100;
    text-decoration: none;
    transition: color 0.5s;
}

.work-item a:hover {
    color: #0038A8;
}

.work-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
    color: white;
    text-align: center;
}

.work-item:hover .work-info {
    border-radius: 10px;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8);
}

#awards {
    padding: 40px 0;
}

.awards-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#awards .awards-content > div {
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

#awards .awards-content > div h3 {
    color: #FFA500;
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

#awards .awards-content > div ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#awards .awards-content > div ul li {
    margin-bottom: 5px;
    font-size: 1rem;
    line-height: 1.4;
}

#awards .awards-content > div ul li:before {
    content: "\2022";
    color: orange;
    font-size: 1.5rem;
    margin-right: 10px;
}

.award-item {
    position: relative;
    flex: 0 1 330px;
    margin: 20px;
    padding: 50px;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.award-item:nth-child(1) {
    background-image: url('Images/Palanca.jpg');
}

.award-item:nth-child(2) {  
    background-image: url('Images/Magsaysay.jpg');
}

.award-item:nth-child(3) {  
    background-image: url('Images/NatArt.jpg');
}

.award-info {
    font-size: 1.1rem;
    line-height: 1.4;
    color: #fff;
}

#legacy {
    padding: 40px 0;
}

.legacy-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.legacy-item {
    flex: 0 1 330px;
    margin: 20px;
    padding: 20px;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.legacy-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}

#contact {
    padding: 40px 0;
    text-align: center;
}

.contact-info {
    max-width: 600px;
    margin: 0 auto;
}

.contact-info h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 10px;
}

.contact-info a {
    color: #fff;
    text-decoration: none;
    transition: color 0.5s;
}

.contact-info a:hover {
    color: #FFD100;
}

.contact-item {
    padding: 5px;
    border-radius: 50px;
    margin-bottom: 10px;
}

.contact-item img {
    width: 25px;
    height: auto;
    margin-right: 5px;
    vertical-align: middle;
}

.contact-item span {
    font-size: 18px;
    vertical-align: middle;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    cursor: pointer;
    transition: opacity 0.3s;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    border: 4px solid black;
    padding: 5px;
    text-align: center;
    line-height: 50px;
    overflow: hidden;
}

.back-to-top img {
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

footer {
    background-image: url('Images/Background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px 0;
    text-align: center;
}


@media (max-width: 768px) {

    header h1 {
        font-size: 2rem;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about-image {
        max-width: 100%;
        margin: 0 auto 20px;
    }

    .work-gallery {
        flex-wrap: nowrap;
        overflow-x: scroll;
        padding-bottom: 20px;
    }

    .work-item {
        width: 150px;
        height: 225px;
    }

    .gallery-wrapper {
        overflow-x: auto;
        padding-bottom: 20px;
    }

    .award-item,
    .legacy-item {
        flex-basis: 100%;
        max-width: 100%;
    }
}